@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    display: flex;
    flex-direction:column;
    border:1px solid lightgray;
    width: 600px;
    padding: 17px;
    height: auto;
    border-radius: 7px;
}

