@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main{
    display: flex;
    flex-direction:column;
    align-items: center;
    border:1px solid lightgrey;
    width: 600px;
    padding: 10px;
    height: auto;
    border-radius: 7px;
    background-color: bisque;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-wrapper h4 {
    margin: 15px;
    font-size: 20px;
}
input {
    padding: 5px;
    margin: 0 10px;
    width: 100px;
}
select{
    padding: 5px;
}
.copyright{
    display: block;
    margin-top: 15px;
    text-align: center;
}
.arrow{
    margin: 0 6px;
}
